<div class="na">
    
    <!-- <button routerLink="Customer">Customer Details </button> -->
    <button routerLink="UserDetails">user details</button>
    <button *ngIf="!this.userdetailsservice.LoggedinbyUser()"routerLink="login">login</button>
    <button  *ngIf="this.userdetailsservice.LoggedinbyUser()" (click)="logout()" >logout</button> 
    <button routerLink="NewUser">New User </button>
    <h1  class="title">ShopCart</h1>
    
    <a *ngIf="this.userdetailsservice.LoggedinbyUser()"  class="fa fa-shopping-cart" routerLink ="carts"> Cart({{this.CartService.currentUserCarts().length}})</a>
    <!-- <app-model *ngIf="modeldia.Showdialog"> </app-model>
    <button (click)="modeldia.Showdialog= true">showdialog</button> -->
    <!-- <a routerLink="Customer">Customer Details</a> -->
</div>