<div class="container" wid>
    <div class="center">
        <div class="title">New User </div>
        <form class="form " #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && onsubmit()" novalidate>
            <!-- Enter Username -->
            <div class="form-group ">
                <label for="email">UserName : </label>
                <input type="email" name="email" appUserValidation class="form-control"
                    placeholder="Enter your username" #email="ngModel" required email [(ngModel)]="username" />
                <!-- Validation for Email -->
                <span class="text-danger"
                    *ngIf="(email.touched || registerForm.submitted)&& email.errors?.['required']">
                    username required
                </span>
                <span class="text-danger" *ngIf="(email.touched || registerForm.submitted)&& email.errors?.['email']">
                    enter correct email
                </span>
                <span class="text-danger" *ngIf="(email.touched || registerForm.submitted)&& email.errors?.['exit']">
                    UserName already exists
                </span>
            </div>
            <!-- Name -->
            <div class="form-group ">
                <label for="name">Name : </label>
                <input type="text" name="name" class="form-control" placeholder="Enter your name" required
                    [(ngModel)]="Name" />
            </div>
            <!-- surname -->
            <div class="form-group ">
                <label for="surname">Surname: </label>
                <input type="text" name="surname" class="form-control" placeholder="Enter your surname"
                    [(ngModel)]="surname" />
            </div>
            <!-- Address -->
            <div class="form-group ">
                <label for="address">Address : </label>
                <input type="text" name="address" class="form-control" placeholder="Enter your address"
                    [(ngModel)]="Address" />
            </div>
            <!-- Date of birth -->
            <div class="form-group ">
                <label for="DOB">Date of birth : </label>
                <input type="date" name="DOB" class="form-control" [(ngModel)]="DOB" />
            </div>
            <!-- Enter password -->
            <div class="form-group">
                <label for="password">password :</label>
                <input type="password" name="password" #password="ngModel" class="form-control" placeholder="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8" required [(ngModel)]="Password">
                <!-- Validation for password -->
                <span class="text-danger"
                    *ngIf="(password.touched || registerForm.submitted) && password.errors?.['required']">Password
                    required</span>
                <span class="text-danger"
                    *ngIf="(password.touched || registerForm.submitted)&& password.errors?.['minlength']"></span>
                <span class="text-danger"
                    *ngIf="(password.touched || registerForm.submitted) && password.errors?.['pattern']">Please enter
                    strong
                    Password</span><br>
                <!-- confirm password  -->
                <div class="form-group">
                    <label for="Cpassword">Confirm password :</label>
                    <input type="password" name="Cpassword" appDoubliPassword #Cpassword="ngModel" confirm
                        class="form-control" placeholder="confirm password" required [(ngModel)]="confPassword">
                    <!-- Validation for confirm  password -->
                    <span class="text-danger"
                        *ngIf="(Cpassword.touched || registerForm.submitted) && Cpassword.errors?.['required']">Password
                        required</span>
                    <span class="text-danger"
                        *ngIf="(Cpassword.touched || registerForm.submitted) && Cpassword.errors?.['confirm']">password
                        not match
                    </span><br>
                    <!-- print random number as a  captcha  -->
                    <div class="form-group">
                        <div>
                            <span class="float"> <input type="text" name="captcha" #captcha="ngModel"
                                    class="form-control" appCaptcha required [(ngModel)]="enterVal"></span> <span>
                                <h4>{{num1}} + {{num2}} =</h4>
                            </span>
                        </div>
                        <!-- Validation for captcha -->
                        <span class="text-danger"
                            *ngIf="(captcha.touched || registerForm.submitted )&& captcha.errors?.['required']">captcha
                            required
                        </span><br>
                        <span class="text-danger" *ngIf="captcha.touched && captcha.errors?.['captcha']">
                            captcha Envalide
                        </span>
                    </div>
                    <!-- login button -->
                    <div class="form-group"> <button (click)="onsubmit()" type="submit" class="btn btn-success"> submit
                        </button></div>
                    <!-- cancel button -->
                    <span><button type="cancel" class="btn btn-cancel"> Cancel
                        </button></span>
                    <div>if already have an account, <a routerLink="login">Login</a></div>
                </div>
            </div>
        </form>
    </div>
</div>