<div class="profile-card">

    <div class="avatar">
        <i class="fa-solid fa-user"></i>
    </div>

    <span class="seller-badge" *ngIf="customer.seller==true">
        <i class="fa-solid fa-store"></i> Seller
    </span>

    <h2 class="name">{{customer.name}} {{customer.surname}}</h2>

    <div class="info">
        <div class="info-row">
            <span class="label"><i class="fa-solid fa-cake-candles"></i> Date of Birth</span>
            <span class="value">{{customer.DOB}}</span>
        </div>
        <div class="info-row">
            <span class="label"><i class="fa-solid fa-envelope"></i> Email</span>
            <span class="value">{{customer.username}}</span>
        </div>
        <div class="info-row">
            <span class="label"><i class="fa-solid fa-location-dot"></i> Address</span>
            <span class="value">{{customer.Address}}</span>
        </div>
    </div>

    <button class="btn-edit">
        <i class="fa-solid fa-pen"></i> Edit Details
    </button>

</div>
