
<div class="card">
    <!-- <img src="img.jpg" alt="John" style="width:100%"> -->
    <h5>name : {{customer.name}}</h5>
    <span><h5>Surname : {{customer.surname}}</h5></span>
    <p class="title">{{customer.DOB}}</p>
    <p>Email : {{customer.username}}</p>
    <!-- <input type="text" name="" id="" [(ngModel)]="customer.name"> -->
    <p> Address : {{customer.Address}}</p>
    <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a> -->
    <p><button>Edit Details</button></p>
  </div> 