<div class="sidebar">
    <a routerLink ="Products" routerLinkActive="active">Products</a>
    <a class="fa fa-shopping-cart" routerLink ="carts" routerLinkActive="active"> Cart ( {{this.CartService.currentUserCarts().length}} )</a>
    <a class="fa fa-shopping-cart" routerLink ="Orders" routerLinkActive="active"> Orders ( {{this.OrderListService.currentUserOrderList().length}} )</a>
    <a routerLink="updateStock" routerLinkActive="active">Seller</a>
    <!-- <a routerLink="Promise">Promise</a>
    <a routerLink="Observable">Observable</a> -->
    <a routerLink="giftCards" routerLinkActive="active">giftCards</a>
    
</div>
